{{#contentFor 'head'}}
  <link rel=stylesheet href=css/error.css>
{{/contentFor}}

<main id=error class=main>

  <h1 class='ui header'>{{status}}: {{statusCode}}</h1>

  <p>{{{message}}}</p>

</main>
