<footer>

  <section>

    <a class=octicon-link href=https://github.com/digitallinguistics/tools>
      <svg class=octicon aria-labelledby=octicon-footer-title height=190px width=129px>
        <title id=octicon-footer-title>GitHub octicon logo</title>
        <use href=#svg-octicon-white xlink:href=#svg-octicon-white></use>
      </svg>
    </a>

    <p><a href=https://github.com/digitallinguistics/tools>View the source code for this page on Github</a></p>

  </section>

  <section>
    <p>Cite as:</p>
    <p>Hieber, Daniel W. 2019. Tulip (Tools for Linguistic Productivity.) DOI:<a href=https://doi.org/10.5281/zenodo.2557872>10.5281/zenodo.2557872</a></p>
  </section>

</footer>
