@import 'node_modules/semantic-ui-less/definitions/elements/segment.less';

.footer {

  align-items:     flex-end;
  display:         flex;
  justify-content: space-around;
  flex-wrap:       wrap;

  &.ui.segment {
    border: none;
    width:  calc(100% + 1px); // stylelint-disable-line unit-blacklist
  }

  .citation-section {
    label {
      font-weight: bold;
    }
  }

  .github-section {
    align-items:    center;
    display:        flex;
    flex-direction: column;
  }

  .octicon {
    height: 2.5em;
    width:  2.5em;
  }

  section {
    padding: 1em;
  }

}
