@import 'node_modules/semantic-ui-less/definitions/collections/menu.less';

.nav {

  .image-link {
    display: flex;
  }

  .ui.menu {
    width: calc(100% + 1px); // stylelint-disable-line unit-blacklist
  }

  .nav-link {

    border-bottom: 0.1em solid transparent;
    margin:        0.75em 0;

    &:hover {
      border-bottom: 0.1em solid currentColor;
    }

  }

  // nav link should have bottom border when active
  .active {
    .nav-link {
      border-bottom: 0.1em solid currentColor;
    }
  }

  .wugbot {
    height:    2.5em;
    transform: scale(-1, 0.9) translateY(-4%);
    width:     auto;
  }

}
