@import 'node_modules/semantic-ui-less/definitions/collections/menu.less';

.nav {

  .image-link {
    display: flex;
  }

  .ui.menu {
    width: calc(100% + 1px); // stylelint-disable-line unit-blacklist
  }

  .nav-link {

    padding: 0.75em;

    &:hover {
      text-decoration: underline;
    }

  }

  // nav link should have bottom border when active
  .active {
    .nav-link {
      text-decoration: underline;
    }
  }

  .wugbot {
    height:    2.5em;
    transform: scale(-1, 0.9) translateY(-4%);
    width:     auto;
  }

}
