<nav class=nav>

  <a href=/>
    <img src={{cdn}}/img/wugbot.svg alt='wugbot icon'>
  </a>

  <ul>
    <li><a href=/>Tools</a></li>
    <li><a href=https://digitallinguistics.io>Website</a></li>
    <li><a href=https://medium.com/digital-linguistics>Blog</a></li>
  </ul>

</nav>
