@import 'node_modules/semantic-ui-less/definitions/collections/menu.less';

.nav {

  .image-link {
    display: flex;
  }

  .nav-link {
    padding: 0.75em 0;
  }

  .wugbot {
    height:    2.5em;
    transform: scale(-1, 0.9) translateY(-4%);
  }

}
