<nav class=nav>

  <ul class='ui huge stackable blue inverted borderless left right attached menu'>

    <li class='vertically fitted item'>
      {{#if home}}
        <a href=# aria-describedby=current class=image-link>
      {{else}}
        <a href=/ class=image-link>
      {{/if}}
        {{!-- <img class=wugbot src={{cdn}}/img/wugbot.svg alt='Home'> --}}
        <svg class=wugbot aria-labelledby=octicon-footer-title height=190px width=129px>
          <title id=wugbot-nav-title>Home</title>
          <use href=#svg-wugbot xlink:href=#svg-wugbot></use>
        </svg>
      </a>
    </li>

    <li class='vertically fitted item link {{#if home}}active{{/if}}'>
      {{#if home}}
        <a href=# aria-describedby=current class=nav-link>Tools</a>
      {{else}}
        <a href=/ class=nav-link>Tools</a>
      {{/if}}
    </li>

    <li class='vertically fitted item link'>
      <a href=https://digitallinguistics.io class=nav-link>Website</a>
    </li>

    <li class='vertically fitted item link'>
      <a href=https://medium.com/digital-linguistics class=nav-link>Blog</a>
    </li>

  </ul>

  <div hidden id=current>Current Page</div>

</nav>
