<!DOCTYPE html>
<html lang=en dir=ltr>

  <head>

    <!-- Critical Metadata -->
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>{{title}} | Tulip</title>

    {{#block 'meta'}}
      {{> meta/meta}}
    {{/block}}

    <link rel=icon type=image/svg+xml href='{{cdn}}/img/wugbot.svg'>
    <link rel=stylesheet href=css/page.css>

    {{#block 'head'}}{{/block}}

  </head>

  <body>
    {{> nav/nav}}
    {{{body}}}
    {{> footer/footer}}
  </body>

</html>
