/**
 * Global styles and component styling that apply to all pages
 */

// Global styles
@import 'https://digitallinguistics.blob.core.windows.net/less/fonts.less';
@import 'node_modules/flexbox-reset/flexbox-reset.less';

// Global components
@import 'components/nav/nav.less';
@import 'components/main/main.less';

body {
  font-family: var(--font); // use DLx fonts
  font-size:   100%;        // reset font size
  line-height: 1.5;         // apply 1.5 line height everywhere
}
