/**
 * Global styles and component styling that apply to all pages
 */

// Global styles
@import (reference) 'node_modules/semantic-ui-less/themes/default/globals/site.variables';
@import 'https://digitallinguistics.blob.core.windows.net/less/fonts.less';
@import 'node_modules/flexbox-reset/flexbox-reset.less';

// Global components
@import 'components/cite/cite.less';
@import 'components/footer/footer.less';
@import 'components/header/header.less';
@import (reference) 'components/link/link.less';
@import 'components/nav/nav.less';
@import 'components/skip-link/skip-link.less';

// variables
@cdn: 'https://cdn.digitallinguistics.io';

// colors
:root {
  --black:  @black;
  --blue:   @blue;
  --brown:  @brown;
  --green:  @green;
  --gray:   @grey;
  --olive:  @olive;
  --orange: @orange;
  --pink:   @pink;
  --purple: @purple;
  --red:    @red;
  --teal:   @teal;
  --violet: @violet;
  --yellow: @yellow;
}

// set global styles
body {

  // set global font styling
  font-family: var(--font); // use DLx fonts
  font-size:   100%;        // reset font size
  line-height: 1.5;         // apply 1.5 line height everywhere

  // set body styles
  display:        flex;
  flex-direction: column;
  min-height:     100vh;

}

// paragraph link styling
h2 a,
p a {
  .link;
}

// better focus styling
:focus {
  outline:        0.1em dashed currentColor;
  outline-offset: 0.1em;
}

main {
  flex-grow: 1;
  padding:   2.5rem;
}
